<style type="text/css">
/*Styles for fuzz overlay & message box*/
 #fuzz{ display: none;
			position: absolute;
			top: 0%;
			left: 0%;
			width: 100%;
			height: 100%;
			background-color: black;
			z-index:1001;
			-moz-opacity: 0.8;
			opacity:.80;
			filter: alpha(opacity=80);}

   /*Message box, positioned in dead center of browser*/
   .msgbox{ position:absolute; width:300px; height:200px; z-index:200; border:5px solid #222; background: #FFF; top: 50%; left: 50%; margin-top: -100px; margin-left: -150px; }
      .msgbox img {border:none; margin:5px;}

      /*The "X" in the upper right corner of msgbox*/
      .close{ top:0px; float:right; }
</style>

<body>

<!--The overlay and message box-->
 <div id="fuzz">
    <!-- <div class="msgbox">
       <a class="close" href="#" ><img src="close.jpg"/></a>
    </div> -->
 </div>

<!--The content to be hidden-->
 <div id="content">
       <a class="alert" href="#" >Alert Me!</a>
 </div>

</body>

<script src="http://code.jquery.com/jquery-1.7.1.min.js" type="text/javascript"></script>

<script>
$(document).ready(function(){

   //Adjust height of overlay to fill screen when page loads
   $("#fuzz").css("height", $(document).height());

   //When the link that triggers the message is clicked fade in overlay/msgbox
   $(document).keypress(function(event){
      $("#fuzz").fadeIn();
      return false;
   });

   //When the message box is closed, fade out
   $(".close").click(function(){
      $("#fuzz").fadeOut();
      return false;
   });

});

//Adjust height of overlay to fill screen when browser gets resized
$(window).bind("resize", function(){
   $("#fuzz").css("height", $(window).height());
});
</script>